<h1>Comments</h1>
<%= render 'searching_helper', path: admin_comments_path %>

<p>
  <%= link_to 'Approved', admin_comments_path(status: :true) %>
  <%= link_to 'Un-Approved', admin_comments_path(status: :false) %>
</p>

<% @comments.each do |comment| %>
  <p><b><%= comment.visitor.fullname %></b> posted message on <b><%= comment.post.title %></b></p>
  <p><%= comment.message %></p>
  <p><%= link_to 'Delete', admin_comment_path(comment) , method: :delete, data: {confirm: 'Are you sure>'} %>
  <% if comment.status == true %>
    <%= link_to admin_comment_path(comment, status: false), method: :put do %>
      <button type ="button">Un-Approved</button>
    <% end %>
  <% else %>
    <%= link_to admin_comment_path(comment, status: true), method: :put do %>
      <button type ="button">Approved</button>
    <% end %>
  <% end %>
  </p>
  <hr>
<% end %>
<%= paginate @comments%>
