<h1>User#edit</h1>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :Roles %>
    <%= f.select :role_id, Role.all.collect {|r| [r.role_type, r.id]}, {prompt: 'Select Role'} %>
  </p>
  <p> <%= f.submit %> </p>
<% end %>