<table class="table">
  <thead>
    <tr>
      <th><i>Date</i></th>
      <th><i>Workout</i></th>
      <th><i>Mood</i></th>
      <th><i>Duration</i></th>
      <th><i>Action</i></th>
    </tr>
  </thead>
  <tbody> 
    <% @workouts.each do |workout| %>
    <tr>
       <td style="color: darkblue"><%= workout.date %></td>
       <td style="color: darkblue"><%= workout.workout %></td>
       <td style="color: darkblue"><%= workout.mood %></td>
       <td style="color: darkblue"><%= workout.length %></td>
       <td>
        <%= link_to 'Edit', edit_workout_path(workout), :id => "links" %>
        <%= link_to 'Show', workout_path(workout), :id => "links" %>
        <%= link_to 'Delete', workout_path(workout), method: :delete, data: {confirm: "Are you sure?"}, :id => "links" %>
       </td>
    </tr>
    <% end %>
  </tbody>
</table>