  <p>
    <b>Date:</b>
    <%= @workout.date%> 
  </p>
  <p>
    <b>workout:</b>
    <%= @workout.workout%> 
  </p>
  <p>
    <b>Mood:</b>
    <%= @workout.mood%> 
  </p>
  <p>
    <b>Duration:</b>
    <%= @workout.length%> 
  </p>
  
  <h2>Exercises</h2>
  <%= render @workout.exercises %>

  <h3>Add an exercise</h3>
  <%#= render 'exercises/form' %>

  <%= link_to 'Back', root_path %>