  <p>
    <b>Date:</b>
    <%= @workout.date%> 
  </p>
  <p>
    <b>workout:</b>
    <%= @workout.workout%> 
  </p>
  <p>
    <b>Mood:</b>
    <%= @workout.mood%> 
  </p>
  <p>
    <b>Duration:</b>
    <%= @workout.length%> 
  </p>
  <%= link_to 'Back', root_path %>