<h1>Admin::Tags#new</h1>

<%= form_for [:admin, @tag] do  |f| %>
  <p><%= f.text_area :name, placeholder: 'e.g Ruby,Java,C#'%></p>
  <p><%= f.submit %></p>
<%end%>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
        <td><%= tag.name %></td>
        <td><%= tag.in_use? %></td>
        <td><%= tag.created_at %></td>
        <td>
        <%= link_to edit_admin_tag_path(tag) do %>
          <button type ="button">Edit</button>
        <% end %>
        <% if tag.in_use? == 'In Use' %>
          <%= link_to "#" do  %>
            <button type="button", class= "disabled">Delete</button>
          <% end %>
        <% else %>
          <%= link_to admin_tag_path(tag), method: :delete do %>
            <button type="button">Delete</button>
          <% end %>
        <% end %>
        </td>  
    </tr>
  <% end %>  
  </tbody>
</table>